.Landing {
  background-color: rgb(0, 0, 0);
  color: #d7d7d7;
  display: grid;
  height: 140vh;
  grid-template-columns: [page-h-start logo-start] 3fr [logo-end content-h-start] 1.5fr [main-start] 7fr [main-end] 1.5fr [content-h-end] 3fr [page-h-end];
  grid-template-rows: [page-v-start header-start] 3fr [header-end] 1fr [title-start]3fr [title-end content-v-start] 10fr [content-v-end] 1fr [ page-v-end];
}

.Header__Logo {
  font-family: "Bitter", serif;
  font-weight: 500;
  font-size: 1.4rem;
  height: 100%;
  grid-column: logo-start / logo-end;
  grid-row: header-start / header-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Header__Title {
  color: #8ee3f8;
  height: 100%;
  grid-column: main-start / main-end;
  grid-row: header-start / header-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Header__Title-main {
  font-family: "Nova Mono", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 0.5rem;
}

.Header__Title-sub {
  font-family: "Philosopher", serif;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid white;
}

.Header__Logo-short {
  display: none;
}

.Header__DNC {
  grid-column: content-h-end / page-h-end;
  grid-row: header-start / header-end;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Header__DNC input {
  margin: 2.5rem;
  appearance: none;
  outline: none;
  background-image: url(../img/dns_day.jpg);
  background-size: cover;
  height: 2rem;
  width: 4rem;
  border-radius: 50px;
  position: relative;
  transition: background-image 0.9s;
}

.Header__DNC input:before {
  content: "";
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 1px 0 3px 1px black;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.9s;
}
.Header__DNC input:checked {
  background-image: url(../img/dns_night.jpg);
  background-size: cover;
  transition: background-image 0.9s;
}
.Header__DNC input:checked:before {
  transform: translate(100%);
  box-shadow: -1px 0 3px 1px black;
  transition: all 0.9s;
  background-color: brown;
}

.Description {
  height: 100%;
  grid-column: main-start/main-end;
  grid-row: title-start/title-end;
}
.Description__Text {
  font-family: "Anonymous Pro", serif;
  font-weight: 600;
  height: 100%;
  padding: 1rem;
  line-height: 1.75rem;
}

.Description__Text a {
  text-decoration: none;
  color: lightgreen;
}

.Description__Text a:hover {
  animation-duration: 1s;
  animation-name: linkanimation;
  animation-fill-mode: forwards;
}

@keyframes linkanimation {
  from {
    text-decoration: none;
    color: rgb(144, 238, 144);
  }
  to {
    color: rgb(63, 230, 63);
  }
}

.CurrencyCards {
  height: 100%;
  grid-column: main-start/main-end;
  grid-row: content-v-start/content-v-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

@media only screen and (max-width: 1560px) {
  .CurrencyCards {
    grid-column: content-h-start/content-h-end;
    grid-row: content-v-start/content-v-end;
  }
}

@media only screen and (max-width: 1112px) {
  .Landing {
    height: 250vh;
  }
}

@media only screen and (max-width: 825px) {
  .Landing {
    height: 275vh;
    grid-template-columns: [page-h-start logo-start] 2.5fr [logo-end content-h-start] 1.5fr [main-start] 7fr [main-end] 1.5fr [content-h-end] 3fr [page-h-end];
    grid-template-rows: [page-v-start header-start] 2fr [header-end] 0.5fr [title-start]3fr [title-end content-v-start] 10fr [content-v-end] 1fr [ page-v-end];
  }
  .Header__Logo-top {
    display: none;
  }
  .Header__Logo-bottom {
    display: none;
  }
  .Header__Logo-short {
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-top: 2.5rem;
  }
  .Description {
    height: 100%;
    grid-column: content-h-start/content-h-end;
    grid-row: title-start/title-end;
  }
}

.countryStyleUS {
  flex: 1;
  font-weight: 600;
  color: rgb(226, 81, 81);
  font-size: 1.3rem;
}

.countryStyleEU {
  flex: 1;
  font-weight: 600;
  color: rgb(0, 128, 187);
  font-size: 1.3rem;
}

.countryStyleUK {
  flex: 1;
  font-weight: 600;
  color: rgb(173, 2, 173);
  font-size: 1.3rem;
}

.countryStyleHK {
  flex: 1;
  font-weight: 600;
  color: rgb(144, 238, 144);
  font-size: 1.3rem;
}

.countryStyleIN {
  flex: 1;
  font-weight: 600;
  color: rgb(231, 124, 2);
  font-size: 1.3rem;
}

.countryStyleJP {
  flex: 1;
  font-weight: 600;
  color: rgb(233, 233, 233);
  font-size: 1.3rem;
}

.countryStyleDAY {
  flex: 1;
  font-weight: 600;
  color: rgb(42, 28, 28);
  font-size: 1.3rem;
}
